{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pages list</h1>

    <table>
        <thead>
            
        </thead>
        <tbody>
        {% for page in pages %}
            <tr>
                <th>Page Name</th>
                <th>Page Id</th>
                <th>Page Actions</th>
            </tr>
            <tr>
                <td>{{ page.name }}</td>
                <td><a href="{{ path('page_show', { 'id': page.id }) }}">{{ page.id }}</a></td>
                
                <td>
                    <a href="{{ path('page_show', { 'id': page.id }) }}">show</a>
                
                    <a href="{{ path('page_edit', { 'id': page.id }) }}">edit</a>
                    
                </td>
                
            </tr>
            
                <th>URL  </th>
                <th>ResponseTime  </th>
            </tr>
            
            {% for url in page.urls %}
            <tr>
                    <td>{{ url.name }} </td><td>{{ url.responseTime }} </td>
            </tr>
            {% endfor %}
            
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('page_new') }}">Create a new page</a>
        </li>
    </ul>
{% endblock %}
