


{% extends 'base.html.twig' %}
{% block body %}

    <h1>Page</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <th>Name</th>
                
            </tr>
            <tr>
                
                <td>{{ page.id }}</td>
                <td>{{ page.name }}</td>
            </tr>
            <tr>
                <th>Name Url</th>
                <th>Time response</th>
            </tr>
            {% for url in page.urls %}
            <tr>
                <td>{{ url.name }}</td><td>{{ url.responseTime }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('page_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('page_edit', { 'id': page.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
